body { margin: 0; overflow: hidden; background: #1a1a1a; font-family: sans-serif; }

p {
  color: white;
  margin-left: 120px;
  padding: 5px;
  background-color: black;
  border-radius: 4px;
  width: max-content;
}

#draggableContainer {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none; /* Критично для тача */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#draggableImage {
  max-width: 100%;
  transform-origin: 0 0; /* Важно для математики зума */
  will-change: transform;
  cursor: grab;
  
}

.info {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
  pointer-events: none;
  border-radius: 4px;
}